@import url(reset.css);

body {
    color: #fffafa;
    font-family: "Tahoma";
    font-size: 14pt;
    background-color: black;
}

header {
    height: 43px;
    width: 100%;
    background-image: url("/img/bghead.png")
}

.menu {
    height:43px;
    width: 1215px;
    margin: 0 auto;
    /*background-color: antiquewhite;*/
}

.wrapper {
    height: 1080px;
    min-width: 1215px;
    background-image: url("/img/bg_body.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.container {
    height: 1028px;
    width: 1215px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 190px;
    /*background-color: snow;*/
    /*border: solid 1px #000;*/
}

.centerblock {
    height: 613px;
    width: 560px;
    background-color:black;
    opacity: 0.63;
    margin: auto;
}



